#one {
  width: 42%;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 42.9%;
}

#one > ion-label {
  font-size: 180%;
}

.cart-item {
  height: 100px;
  width: 98%;
}

.ion-checkbox {
  vertical-align: middle;
}

.item-label {
  margin-left: 14px;
  font-size: 100%;
}

#cart-list {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 16%;
  height: 520px;
  width: 76%;
  background-color: rgb(245, 245, 220);
}

#checkout-button {
  margin-left: 75%;
  font-size: 100%;
  width: 130px;
}
